<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
  <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
  <object th:include="~{fragments/common :: datatable}" th:remove="tag"></object>
  <title>Cari Barang</title>

</head>

<body>
  <!-- Untuk mengatur tampilan tabel -->
  <script>
    $(document).ready(function () {
      $("#booksTable").DataTable({
        dom: "Qlfrtip",
        // Memunculkan item dengan opsi 5, 10, 20
        lengthMenu: [5, 10, 20],
      });
    });
  </script>
  <nav th:replace="~{fragments/navbar :: navbar}"></nav>
  <div class="container">
    <div class="text-center pt-5">
      <h2>Cari Barang</h2>    
    </div>
    <div class="container mb-4">
        <form class="d-flex m-5 gap-3" th:action="@{/gudang/cari-barang}" method="get">
            <select class="form-control" name="sku" id="sku">
                <option th:each="barang: ${listBarang}"
                    th:value="${barang.sku}" th:text="${barang.merk}"></option>
            </select>
            <button class="btn btn-md btn-primary" type="submit">Cari</button>
        </form>  
      <!-- Membuat tampilan tabel buku dengan pagination -->
      <table id="booksTable" class="display">
        <thead>
          <tr>
            <th>#</th>
            <th>Nama</th>
            <th>Alamat</th>
            <th>Stok</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="gudangBarang, iterationStatus : ${listGudangBarang}">
            <td th:text="${iterationStatus.index + 1}"></td>
            <td><a th:href="@{/gudang/{id}(id=${gudangBarang.Gudang.id})}" th:text="${gudangBarang.Gudang.nama}"></a></td>
            <td th:text="${gudangBarang.Gudang.alamatGudang}"></td>
            <td th:text="${gudangBarang.stok}"></td> 
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>