<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
  <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
  <object th:include="~{fragments/common :: datatable}" th:remove="tag"></object>
  <title>View All Permintaan Pengiriman</title>

</head>

<body>
  <!-- Untuk mengatur tampilan tabel -->
  <script>
    $(document).ready(function () {
      $("#booksTable").DataTable({
        dom: "Qlfrtip",
        // Memunculkan item dengan opsi 5, 10, 20
        lengthMenu: [5, 10, 20]
      });
    });
  </script>
  <nav th:replace="~{fragments/navbar :: navbar}"></nav>
  <div class="container">
    <div class="text-center pt-5">
      <h2>Filter Permintaan Pengiriman</h2> 
      <br><br>
    </div>
    <div class="container mb-4">
        <form class="align-items-center" th:action="@{/filter-permintaan-pengiriman}" method="get">
            <select class="form-control" name="sku" id="sku">
                <option th:each="barang: ${listBarang}" th:value="${barang.sku}" th:text="${barang.merk}"></option>
            </select>
            <br>
            <div class="row">
                <div class="col-6">
                    <input name="start" required class="form-control" type="date" th:value="*{start}"/>
                </div>
                <div class="col-1">
                    hingga
                </div>
                <div class="col-5">
                    <input name="end" required class="form-control" type="date" th:value="*{end}"/>
                </div>
            </div>
            <br>
            <button type="submit" style="float:right; column-span: all;" class="btn btn-primary" th:href="@{/filter-permintaan-pengiriman}">Cari</button>
        </form>
        <br><br><br>
      <table id="booksTable" class="display">
        <thead>
          <tr>
            <th>#</th>
            <th>Waktu Permintaan</th>
            <th>Nomor Pengiriman</th>
            <th>Nama Penerima</th>
            <th>Alamat Penerima</th>
            <th>Tanggal Penerima</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="permintaanPengiriman, iterationStatus : ${listPermintaanPengiriman}">
            <td th:text="${iterationStatus.index + 1}"></td>
            <td th:text="${permintaanPengiriman.formattedWaktuPermintaan}"></td>
            <td th:text="${permintaanPengiriman.nomorPengiriman}"></td>
            <td th:text="${permintaanPengiriman.namaPenerima}"></td>
            <td th:text="${permintaanPengiriman.alamatPenerima}"></td>
            <td th:text="${permintaanPengiriman.formattedTanggalPengiriman}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>