<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <title>Ubah Barang</title>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <div class="container">
        <div class="row justify-content-center mt-5 mb-5">
          <div class="card">
            <div class="card-header justify-content-center align-items-center">
              <center><h2 class="fw-bold">Ubah Barang</h2></center>
            </div>
            <div class="card-body">
              <p style="color: red;" th:utext="${errorMessage}"></p>
                <form th:action="@{'/barang/' + ${barangDTO.sku} + '/ubah'}" th:object="${barangDTO}" method="POST">
                  <div class="row">
                    <div class="col">
                      SKU : <br>
                      <input class="form-control" readonly type="text" th:field="*{sku}" />
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col">
                      Merk Barang : <br>
                      <input class="form-control" type="text" th:field="*{merk}" />
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col">
                      Tipe Barang : <br>
                      <table class="table">
                        <tbody>
                            <tr>
                              <input class="form-control" readonly type="text" th:field="*{namaTipeBarang}" />
                            </tr>
                        </tbody>
                    </table>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      Harga : <br>
                      <input class="form-control" type="number" th:field="*{hargaBarang}" />
                    </div>
                  </div>
            </div>
            <div class="d-flex justify-content-center gap-3">
                <a th:href="@{/barang/{id}(id=${barangDTO.sku})}" type="button" class="btn btn-danger btn-md justify-content-center mb-3">Batal</a>
                <button class="btn btn-primary btn-md justify-content-center mb-3" type="submit">Simpan</button>
              </div>
          </form>
          </div>
</body>
</html>