<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: datatable}" th:remove="tag"></object>
    <title>View Gudang</title>
</head>

<body>
  <script>
    $(document).ready(function () {
      $("#booksTable").DataTable({
        dom: "Qlfrtip",
        // Memunculkan item dengan opsi 5, 10, 20
        lengthMenu: [5, 10, 20],
        // Menghilangkan sortable di kolom action
        
        
      });
    });
  </script>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <div class="container">
        <div class="row justify-content-center mt-5 mb-5">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                  <h2 class="fw-bold">Detail Gudang</h2>
                  <a th:href="@{/gudang/{id}/restock-barang(id=${gudangDTO.id})}" type="button" class="btn btn-primary btn-md m-2">+ Restock Barang</a>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      Nama Gudang
                    </div>
                    <div class="col-8">
                      <h6 class="card-title" th:text="': ' + ${gudangDTO.nama}"></h6>
                    </div>
                  </div>
                  <h1></h1>
                  <div class="row">
                    <div class="col">
                      Alamat Gudang
                    </div>
                    <div class="col-8">
                      <h6 class="card-title" th:text="': ' + ${gudangDTO.alamatGudang}"></h6>
                    </div>
                  </div>
                </div>
                <h1></h1>
                <div class="row justify-content-center">
                  <div class="col-12">
                    <h5 class="fw-bold">Daftar barang tersedia</h5>
                    <table id="booksTable" class="table table-striped table-bordered" style="width: 100%">
                      <thead class="">
                        <tr>
                          <th>#</th>
                          <th>SKU</th>
                          <th>Merk</th>
                          <th>Stok</th>
                          <th>Harga</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="gudangBarang, iterationStatus : ${gudangDTO.listGudangBarang}">
                          <td th:text="${iterationStatus.index + 1}"></td>
                          <td><a th:href="@{/barang/{id}(id=${gudangBarang.Barang.sku})}" th:text="${gudangBarang.Barang.sku}"></a></td>
                          <td th:text="${gudangBarang.Barang.merk}"></td>
                          <td th:text="${gudangBarang.stok}"></td>
                          <td th:text="'Rp' + ${gudangBarang.Barang.hargaBarang}"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                  <div class="d-flex justify-content-center">
                    <a th:href="@{/gudang}" type="button" class="btn btn-secondary btn-md justify-content-center mb-3">Kembali</a>
                  
                  </div>
              </div>
    </div>
</body>
</html>